@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap");

html,
body {
  margin: 0px;
  padding: 0px;

  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;

  font-family: "Fredericka the Great";

  color: white;

  font-size: 20px;
}

a {
  color: white;
}

p {
  margin: 0px;
}

button {
  font-family: "Fredericka the Great";
  color: white;
  font-size: 20px;
}

button:hover {
  cursor: pointer;
}

.header-background {
  position: fixed;
  z-index: -1;
  width: 100%;
}

.header-background img {
  height: 100%;
  width: auto;
}

header h1 {
  margin: 0px;
  background-color: #31313b;
  padding: 50px;
  text-align: center;
  opacity: 0.7;
}

header nav {
  background-color: #222229;
  opacity: 0.7;
  padding: 10px;
}

header nav a {
  text-decoration: none;
  padding: 10px;
}

body > h1 {
  margin: 0px;
  background-color: #31313b;
  padding: 50px;
  text-align: center;
  opacity: 0.7;
}

main {
  background-color: #31313b;
  opacity: 0.7;
}

.title-div {
  padding: 30px 0px 0px 0px;
}

.title-div h2 {
  margin: 0px 0px 0px 10px;
}

.link-div {
  padding: 0px 0px 0px 20px;
}

.button-div {
  padding: 0px 0px 0px 20px;
}

.button-div button {
  background-color: transparent;
  border: 0px;
  padding: 0px;
  text-decoration: underline;
}

.section-div {
  padding: 0px 0px 0px 30px;
}

footer {
  height: 100%;
  background-color: #8e837d;
  opacity: 0.7;
}
