@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap");

html,
body {
  margin: 0px;
  padding: 0px;

  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;

  font-family: "Fredericka the Great";

  color: white;

  font-size: 20px;
}

a {
  color: white;
}

p {
  margin: 0px;
}

button {
  font-family: "Fredericka the Great";
  color: white;
  font-size: 20px;
  background-color: #2e2a28;
  border: 0px;
}

button:hover {
  cursor: pointer;
}

.header-background {
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.header-background img {
  display: block;
  height: auto;
  width: 100%;
  margin: auto;
}

header h1 {
  margin: 0px;
  background-color: #2e2a28;
  padding: 50px;
  text-align: center;
  opacity: 0.7;
}

header nav {
  background-color: #2e2a28;
  opacity: 0.8;
  padding: 10px;
}

header nav a {
  text-decoration: none;
  padding: 10px;
}

body > h1,
body > h2 {
  margin: 0px;
  background-color: #2e2a28;
  padding: 50px;
  text-align: center;
  opacity: 0.9;
}

main,
#menu {
  background-color: #2e2a28;
  opacity: 0.95;
  width: 100%;
}

.ui-div {
  height: 100%;
  position: relative;
}

.menu-div {
  width: 100%;
  display: inline-block;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}

.menu-title {
  margin: 20px 0px 0px;
  font-size: 40px;
}

.menu-intertitle {
  margin: 10px 0px 0px;
  padding-left: 10px;
  font-size: 30px;
}

.menu-link {
  margin: 0px;
  padding-left: 20px;
  font-size: 20px;
}

.page-div {
  width: 100%;
  display: none;
  padding: 100px;
  box-sizing: border-box;
  text-align: justify;
}

.col-div {
  display: inline-block;
  vertical-align: middle;
}

.page-title {
  text-align: center;
}

.page-image {
  display: block;
  width: 50%;
  margin: auto;
  padding: 0px 0px 20px;
}

.page-image img {
  width: 100%;
  height: auto;
}
.page-image small {
  display: block;
  text-align: center;
}

.close-button {
  position: absolute;
  top: -50px;
  right: 50px;
}

.question-answer {
  padding-left: 20px;
}

.answer-p {
  padding-left: 40px;
}

footer {
  height: 100%;
  background-color: #2e2a28;
  opacity: 0.7;
}
