<div class="header-background">
  <img src="/public/img/header.jpeg" />
</div>
<h1>Je me souviens : Patriotes</h1>
<nav>
  <a href="/">Accueil</a>
  <a href="/info">Les Patriotes</a>
  <a href="/about">À propos de nous</a>
</nav>
