<div class="header-background">
  <img src="/public/img/bataille.jpg" />
</div>

<h1>Patriotes</h1>

<nav>
  <a href="/">Accueil</a>
  <a href="/info">Les Patriotes</a>
  <a href="/about">À propos de nous</a>
</nav>
