<!DOCTYPE html>
<html>
  <head>
    <%- include("../parts/head") %>
  </head>
  <body>
    <header><%- include("../parts/header") %></header>

    <h1>Games</h1>

    <main>
      <canvas id="screen"></canvas>
    </main>

    <footer><%- include("../parts/footer") %></footer>

    <script src="/public/dom/games-dom.js"></script>
    <script src="/public/com/games-com.js"></script>
  </body>
</html>
