<!DOCTYPE html>
<html>
  <head>
    <%- include("../parts/head") %>
  </head>
  <body>
    <header><%- include("../parts/header") %></header>

    <h1>Bienvenue!</h1>

    <div>
      <p>BLA BLA BLA</p>
    </div>

    <footer><%- include("../parts/footer") %></footer>
  </body>
</html>
