<!DOCTYPE html>
<html>
  <head>
    <%- include("../parts/head") %>
  </head>
  <body>
    <div class="header-background">
      <img src="/public/img/header.jpg" />
    </div>

    <header><%- include("../parts/header") %></header>

    <h1>Bienvenue!</h1>

    <main>
      <a href="/info">Connaitre les Patriotes -></a>
      <br />
      <a href="/games">Jouer -></a>
      <br />
      <br />
      <a href="https://github.com/mygn-l/je-me-souviens/tree/master">Code source -></a>
    </main>

    <footer><%- include("../parts/footer") %></footer>

    <script src="/public/com/index-com.js"></script>
  </body>
</html>
