<!DOCTYPE html>
<html>
  <head>
    <%- include("../parts/head") %>
  </head>
  <body>
    <header><%- include("../parts/header") %></header>

    <h1>Menu principal</h1>

    <main></main>

    <footer><%- include("../parts/footer") %></footer>

    <script type="module" src="/public/dom/info-dom.js"></script>
    <script type="module" src="/public/com/info-com.js"></script>
  </body>
</html>
