<!DOCTYPE html>
<html>
  <head>
    <%- include("../parts/head.ejs") %>
  </head>
  <body>
    <div class="header-background">
      <img src="/public/img/politique.png" />
    </div>

    <header><%- include("../parts/header") %></header>

    <h1>Les Politiques</h1>

    <main></main>

    <footer><%- include("../parts/footer") %></footer>
  </body>
</html>
