<!DOCTYPE html>
<html>
  <head><%- include("../parts/head.ejs") %></head>
  <body>
    <header><%- include("../parts/header") %></header>

    <h1>Les Politiques</h1>

    <footer><%- include("../parts/footer") %></footer>
  </body>
</html>
